{% extends 'header_footer.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Haz tu Reserva</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
            {{ form.paquete.label_tag }}<br>
            {{ form.paquete }}
        </div>
        <div class="form-group mb-3">
            {{ form.tipo_evento.label_tag }}<br>
            {{ form.tipo_evento }}
        </div>
        <div class="form-group mb-3">
            {{ form.fecha.label_tag }}<br>
            {{ form.fecha }}
        </div>
        <div class="form-group mb-3">
            {{ form.hora.label_tag }}<br>
            {{ form.hora }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar reserva</button>
    </form>
</div>
{% endblock %}